<!DOCTYPE html>
<html>
<head>
  <title>CB Service</title>
</head>

<body ng-app="ClearBladeApp" ng-controller="ClearBladeController">
  <table>
    <thead>
      <tr><th colspan="4">ClearBlade User Info</th></tr>
    </thead>
    <tbody>
      <tr ng-repeat="login in logins">
        <td>{{$index + 1}}</td>
        <td>{{login.User.name}}</td>
        <td>{{login.Age}}</td>
        <td>{{response}}</td>
      </tr>
    </tbody>
  </table>

  <button ng-click="sendRequest()">Run Code</button>
  <span>{{result}}</span>

  <br>
  <button ng-click="logout()">Logout</button>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="js/app.js"></script>
  <script src="js/controller/ClearBladeCtrl.js"></script>
  <script src="js/services/cbservice.js"></script>
  <script src="cbjs/ClearBlade.js"></script>
</body>
</html>